<head>
    <%- include('../common/head')%>
</head>

<header>
    <%- include('../common/header', { links: navbar.links }) %>
</header>

<div class="container">
    <h2 class="page-title">Add a product</h2>
    <a href="/" class="btn btn-primary">Back to home page</a>
    <br><br>

    <form method="post" action="/admin/pages/add-page">

        <div class="form-group">
            <label for="">Title</label>
            <input type="text" class="form-control" name="title" value="" placeholder="Title">
        </div>

        <div class="form-group">
            <label for="">Product Category</label>
            <input type="text" class="form-control" name="Category" value="" placeholder="Category">
        </div>

        <div class="form-group">
            <label for="">Content</label>
            <textarea name="content" class="form-control" cols="5" rows="5" placeholder="Content"></textarea>
        </div>


        <div class="form-group">
            <label class="col-md-4 control-label" for="filebutton">Image</label>
            <div class="col-md-4">
                <input id="filebutton" name="filebutton" class="input-file" type="file">
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="singlebutton">Add</label>
            <div class="col-md-4">
                <button id="singlebutton" name="singlebutton" class="btn btn-primary">Add</button>
            </div>
        </div>
    </form>
</div>

<br><br><br>
<footer>
    <%- include('../common/footer')%>
</footer>