<head>
    <%- include('../common/head') %>

        <%- include('../common/homestyle') %>
</head>

<header>
    <%- include('../common/header', { links: navbar.links }) %>
</header>

<div class="container">
    <br><br>
    <h2>This is the admin area</h2>


    <a class="add" href="./admin/add-product">
        Add a new product</a>
    <br>
    <a class="remove" href="./admin/delete-product">
        Remove from website</a>
    <br>
    <a class="statistics" href="./admin/statistics">
        Watch statistic of all orders</a>

    <br>

    <a class="statistics" href="./admin/statistics2">
        Watch statistic of all contacts</a>

    <br>
    <a class="remove" href="./admin/watch-requstes">
        Watch requests from clients</a>
</div>

<footer>
    <%- include('../common/footer') %>
</footer>