<head>
    <%- include('../common/head')%>
</head>

<header>
    <%- include('../common/header', { links: navbar.links }) %>
</header>
<div class="container">
    <br>
    <h2> This is the orders following area </h2>
</div>
<footer>
    <%- include('../common/footer')%>
</footer>