<!-- contains button checkout and login -->
&nbsp&nbsp&nbsp<a class="btn btn-primary" href="/users/login" role="button">Login</a>
<a class="btn btn-primary" href="/users/signin" role="button">Signin</a>
<a class="btn btn-primary" href="/checkout" role="button">Checkout</a>
<div class="inside"></div>
<br><br>