<!-- contains button checkout and login -->

<main class="top-btn">
    &nbsp&nbsp&nbsp<a class="btn btn-primary" href="/users/login" role="button">Login</a>
    <a class="btn btn-primary" href="/users/signin" role="button">Sign Up</a>
    <a class="btn btn-primary" href="/checkout" role="button">Checkout</a>
    <div class="inside"></div>
    <br><br>
</main>