<head>
    <%- include('../common/head')%>
</head>


<body>
    <header>
        <%- include('../common/header', { links: navbar.links }) %>
    </header>

    <div class="container">
        <h2>Login area</h2>
    </div>

    <footer>
        <%- include('../common/footer')%>
    </footer>

</body>

</html>